<div class="h-100 overflow-hidden p-4">
  <div
    [ngStyle]="{
      'max-height': 'calc(100% - ' + btnContainer?.clientHeight + 'px)'
    }"
    class="overflow-overlay p-3 scroll-content"
  >
    <div
      (click)="editPlaylist(playlist)"
      class="card w-100 p-3 flex-row mb-3 cursor-pointer"
      *ngFor="let playlist of sharedDataService?.playlists"
    >
      <div class="col-4 font-18">{{ playlist?.playlistName }}</div>
      <div class="col-8 font-16">Created on: &nbsp;&nbsp;{{ playlist?.createdDate }}</div>
    </div>
  </div>
  <div
    #btnContainer
    class="playlist-btn-container text-center col-5 mx-auto py-3"
  >
    <button (click)="createPlaylist()" class="purple-btn btn">
      Create Playlist
    </button>
  </div>
</div>
